<div class="page">

    <h1>Aktuel vagtplan</h1>

    <div class="schedule-topbar">

        <div class="schedule-actions-left">

            <select [(ngModel)]="selectedEmployeeId" name="selectedEmployeeId" (change)="buildEmployeeSchedule()">
                <option value="">Alle medarbejdere</option>

                <option *ngFor="let employee of employees" [value]="employee.employeeId">
                    {{ employee.firstName }} {{ employee.lastName }}
                </option>
            </select>

        </div>

        <div class="schedule-actions-center">

            <button type="button" (click)="goToToday()">I dag</button>

            <button (click)="goToPreviousWeek()">←</button>

            <span>{{ getWeekText() }}</span>

            <button (click)="goToNextWeek()">→</button>

            <select [(ngModel)]="selectedMonth" name="selectedMonth" (change)="goToSelectedMonth()">

                <option *ngFor="let month of months" [ngValue]="month.value">
                    {{ month.name }}
                </option>
            </select>

            <select [(ngModel)]="selectedWeek" name="selectedWeek" (change)="goToSelectedWeek()">

                <option *ngFor="let week of weeks" [ngValue]="week">
                    Uge {{ week }}
                </option>
            </select>

        </div>

        <div class="schedule-actions-right">

            <button class="create-button" type="button" routerLink="/shifts/create">
                + Opret vagt
            </button>

        </div>

    </div>

    <div *ngIf="selectedOpenShift" class="assign-panel">

        <h3>Tildel ledig vagt</h3>

        <p>
            {{ selectedOpenShift.text }}
            ({{ selectedOpenShift.role }})
        </p>

        <select [(ngModel)]="selectedEmployeeForShift">

            <option value="">
                Vælg medarbejder
            </option>

            <option *ngFor="let employee of getEmployeesForSelectedOpenShift()" [value]="employee.employeeId">

                {{ employee.firstName }}
                {{ employee.lastName }}

            </option>

        </select>

        <button type="button" (click)="assignSelectedShift()">
            Tildel vagt
        </button>

        <button type="button" (click)="selectedOpenShift = null">
            Annuller
        </button>

    </div>

    <div *ngIf="showAllShifts" class="shift-modal">

        <div class="shift-modal-content">

            <h3>
                Ledige vagter - {{ selectedDayName }}
            </h3>

            <div *ngFor="let shift of selectedDayShifts" class="shift-block" [style.background-color]="shift.color"
                (click)="selectOpenShift(shift)">

                <div class="shift-time">
                    {{ shift.text }}
                </div>

                <div class="shift-role">
                    {{ shift.role }}
                </div>

            </div>

            <button type="button" (click)="showAllShifts = false">

                Luk

            </button>

        </div>

    </div>

    <table class="shift-table">
        <thead>
            <tr>
                <th>Medarbejder</th>
                <th>{{ getDayHeader(0) }}</th>
                <th>{{ getDayHeader(1) }}</th>
                <th>{{ getDayHeader(2) }}</th>
                <th>{{ getDayHeader(3) }}</th>
                <th>{{ getDayHeader(4) }}</th>
            </tr>
        </thead>

        <tbody>

            <tr class="open-shifts-row">
                <td class="employee-name">
                    {{ openShiftRow.employeeName }}
                </td>

                <td>

                    <div *ngFor="let shift of openShiftRow.monday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color" (click)="selectOpenShift(shift)">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="openShiftRow.monday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(openShiftRow.monday, 'Mandag')">

                        +{{ openShiftRow.monday.length - 1 }} flere...

                    </div>

                </td>

                <td>

                    <div *ngFor="let shift of openShiftRow.tuesday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color" (click)="selectOpenShift(shift)">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="openShiftRow.tuesday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(openShiftRow.tuesday, 'Tirsdag')">

                        +{{ openShiftRow.tuesday.length - 1 }} flere...

                    </div>

                </td>
                <td>

                    <div *ngFor="let shift of openShiftRow.wednesday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color" (click)="selectOpenShift(shift)">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="openShiftRow.wednesday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(openShiftRow.wednesday, 'Onsdag')">

                        +{{ openShiftRow.wednesday.length - 1 }} flere...

                    </div>

                </td>

                <td>

                    <div *ngFor="let shift of openShiftRow.thursday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color" (click)="selectOpenShift(shift)">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="openShiftRow.thursday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(openShiftRow.thursday, 'Torsdag')">

                        +{{ openShiftRow.thursday.length - 1 }} flere...

                    </div>

                </td>

                <td>

                    <div *ngFor="let shift of openShiftRow.friday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color" (click)="selectOpenShift(shift)">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="openShiftRow.friday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(openShiftRow.friday, 'Fredag')">

                        +{{ openShiftRow.friday.length - 1 }} flere...

                    </div>

                </td>
            </tr>

            <tr *ngFor="let employee of employeeSchedule">
                <td class="employee-name">
                    {{ employee.employeeName }}
                </td>

                <td>

                    <div *ngFor="let shift of employee.monday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="employee.monday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(employee.monday, 'Mandag')">

                        +{{ employee.monday.length - 1 }} flere...

                    </div>

                </td>

                <td>

                    <div *ngFor="let shift of employee.tuesday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="employee.tuesday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(employee.tuesday, 'Tirsdag')">

                        +{{ employee.tuesday.length - 1 }} flere...

                    </div>

                </td>

                <td>

                    <div *ngFor="let shift of employee.wednesday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="employee.wednesday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(employee.wednesday, 'Onsdag')">

                        +{{ employee.wednesday.length - 1 }} flere...

                    </div>

                </td>

                <td>

                    <div *ngFor="let shift of employee.thursday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="employee.thursday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(employee.thursday, 'Torsdag')">

                        +{{ employee.thursday.length - 1 }} flere...

                    </div>

                </td>

                <td>

                    <div *ngFor="let shift of employee.friday.slice(0,1)" class="shift-block"
                        [style.background-color]="shift.color">

                        <div class="shift-time">
                            {{ shift.text }}
                        </div>

                        <div class="shift-role">
                            {{ shift.role }}
                        </div>

                    </div>

                    <div *ngIf="employee.friday.length > 1" class="more-shifts"
                        (click)="showMoreShifts(employee.friday, 'Fredag')">

                        +{{ employee.friday.length - 1 }} flere...

                    </div>

                </td>
            </tr>

        </tbody>
    </table>

    <div class="color-legend">
        <h3>Farveforklaring</h3>

        <div class="legend-items">
            <div class="legend-item">
                <span class="legend-color kok"></span>
                <span>Kok</span>
            </div>

            <div class="legend-item">
                <span class="legend-color tjener"></span>
                <span>Tjener</span>
            </div>

            <div class="legend-item">
                <span class="legend-color opvasker"></span>
                <span>Opvasker</span>
            </div>

            <div class="legend-item">
                <span class="legend-color ledig"></span>
                <span>Ledige vagter</span>
            </div>
        </div>
    </div>

</div>