.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.form-row label {
    width: 120px;
    font-weight: bold;
}

.form-row input,
.form-row select {
    width: 250px;
    padding: 8px;
}

.employee-form button {
    background-color: #96768f;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.employee-form button:hover {
    background-color: #cca1c3;
}

.button-row {
    margin-left: 120px;
    margin-top: 24px;
}

.role-section button {
    background-color: #96768f;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.role-section button:hover {
    background-color: #cca1c3;
}